body{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 243, 152);
    align-items: center;
    vertical-align: middle;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 33%;
    border: 10px solid black;
    flex: 1;
    margin-right: 10px;
}